
  .desktop {
    background-color: rgba(13, 17, 23, 1);
    display: flex;
    padding-bottom: 13px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }
  

  @media (max-width: 991px) {
    .img {
      max-width: 100%;
    }
  }

/*  */
.questions {
  margin-bottom: 8rem;
  color: white;
}

.questions h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: lowercase;
 
  line-height: 7.25rem;
  margin-bottom: 4rem;
}

.question {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(255 255 255 / 20%)
}

.question-static {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-title {
  flex: 1
}



.question-toggler {
  text-decoration: none;
  border: 1px solid #fff;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}

.question-toggler:hover {
  border-color: #DDFF00;
}

.question-toggle {
  overflow: hidden;
  transition: all 0.5s ease;
  max-height: 0;
  opacity: 0;
  font-size: 1rem;
}

.question-toggle.open {
  max-height: 1000px;
  opacity: 1;
  padding: 1rem 0;
}

.questions-more {
  margin-top: 6rem;
}

.questions-more-title {
  margin-bottom: 2rem;
}

.questions-more-email a {
  text-decoration: none;
  font-weight: 700;
}

.questions-more-phone a {
  text-decoration: none;
  font-weight: 700;
}

.extensions {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}


/*  */
  video {
    padding: 0;
    margin-top: -200px;
  }

  .div {
    z-index: 10;
    display: flex;
    margin-top: -803px;
    width: 100%;
    max-width: 1040px;
    flex-direction: column;
    align-items: center;
    font-family: Gotham Pro, sans-serif;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .div {
      max-width: 100%;
      margin-top: -200px;
    }
  }
  .start-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .start-block {
      max-width: 100%;
    }
  }
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px 100px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
    }
  }
  .img-2 {
    aspect-ratio: 6.25;
    object-fit: contain;
    object-position: center;
    width: 162px;
    align-self: stretch;
    margin: auto 0;
  }
  .div-2 {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: center;
    gap: 20px;
    justify-content: start;
    flex-wrap: wrap;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .тренировочный-лагерь-3-d-аниматора {
    color: rgba(241, 242, 246, 1);
    align-self: stretch;
    margin: auto 0;
  }
  .div-3 {
    align-self: stretch;
    display: flex;
    align-items: start;
    gap: 20px;
    white-space: nowrap;
    justify-content: start;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-3 {
      white-space: initial;
    }
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 21px;
  }
  .div-4 {
    width: 0px;
    height: 20px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  .language {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .language {
      white-space: initial;
    }
  }
  .ru {
    color: rgba(221, 255, 0, 1);
    align-self: stretch;
    margin: auto 0;
  }
  .en {
    color: rgba(241, 242, 246, 1);
    align-self: stretch;
    margin: auto 0;
  }
  .button-login {
    align-self: stretch;
    border-radius: 30px;
    background-color: rgba(221, 255, 0, 1);
    min-height: 42px;
    gap: 10px;
    font-size: 14px;
    color: rgba(13, 17, 23, 1);
    white-space: nowrap;
    width: 99px;
    margin: auto 0;
    padding: 12px 28px;
  }
  @media (max-width: 991px) {
    .button-login {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .main {
    display: flex;
    margin-top: 119px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .main {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .main-contant {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .main-contant {
      max-width: 100%;
    }
  }
  .main-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: rgba(241, 242, 246, 1);
    justify-content: start;
  }
  @media (max-width: 991px) {
    .main-text {
      max-width: 100%;
    }
  }
  .main-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
  }
  @media (max-width: 991px) {
    .main-title {
      max-width: 100%;
      font-size: 40px;
      line-height: 51px;
    }
  }
  .main-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 28px;
  }
  @media (max-width: 991px) {
    .main-description {
      max-width: 100%;
    }
  }
  .buttons {
    display: flex;
    margin-top: 26px;
    width: 310px;
    max-width: 100%;
    align-items: center;
    gap: 17px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    justify-content: space-between;
  }
  .button-program {
    align-self: stretch;
    border-radius: 30px;
    min-height: 42px;
    gap: 10px;
    color: rgba(241, 242, 246, 1);
    white-space: nowrap;
    width: 123px;
    margin: auto 0;
    padding: 12px 22px;
    border: 1px solid rgba(241, 242, 246, 1);
  }
  @media (max-width: 991px) {
    .button-program {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .button-start-free {
    align-self: stretch;
    border-radius: 30px;
    background-color: rgba(221, 255, 0, 1);
    min-height: 42px;
    gap: 10px;
    color: rgba(13, 17, 23, 1);
    width: 170px;
    margin: auto 0;
    padding: 12px 21px;
  }
  @media (max-width: 991px) {
    .button-start-free {
      padding: 0 20px;
    }
  }
  .sub-text {
    display: flex;
    margin-top: 141px;
    width: 100%;
    align-items: center;
    gap: 40px 150px;
    font-size: 14px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    line-height: 1;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .sub-text {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .sub-text-01 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    width: 94px;
    margin: auto 0;
  }
  .sub-text-02 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    width: 178px;
    margin: auto 0;
  }
  .sub-text-03 {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    width: 391px;
    margin: auto 0;
  }
  .blocks {
    display: flex;
    margin-top: 200px;
    width: 840px;
    max-width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .blocks {
      margin-top: 40px;
    }
  }
  .line {
    min-height: 0px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line {
      max-width: 100%;
    }
  }
  .about-block {
    display: flex;
    margin-top: 90px;
    width: 100%;
    align-items: end;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .about-block {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-5 {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 426px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
    }
  }
  .sub-title-01 {
    color: rgba(221, 255, 0, 1);
    font-size: 10px;
    line-height: 1;
    letter-spacing: -0.3px;
  }
  .title-02 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 24px;
  }
  .description-02 {
    font-size: 12px;
    line-height: 22px;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .description-02 {
      max-width: 100%;
    }
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 280px;
    min-width: 240px;
    flex-grow: 1;
  }
  .line-2 {
    min-height: 0px;
    margin-top: 90px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-2 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .trailer-block {
    display: flex;
    margin-top: 90px;
    width: 100%;
    flex-direction: column;
    color: rgba(241, 242, 246, 1);
    text-align: center;
    justify-content: start;
  }


  .trailer-block::before {
    content: '';
    width: 600px;
    height: 400px;
    background-color: rgb(255 0 92 / 65%);
    border-radius: 100%;
    filter: blur(100px);
    position: absolute;
    left: 20%;
    bottom: -1400px;
    z-index: -1;
  }
  .trailer-block::after{
    content: '';
    width: 600px;
    height: 400px;
    background-color: rgb(0 178 255 / 60%);
    border-radius: 100%;
    filter: blur(100px);
    position: absolute;
    bottom: -1350px;
    right: 20%;
    z-index: -1;
  }

  @media (max-width: 991px) {
    .trailer-block {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-6 {
    align-self: center;
    display: flex;
    width: 417px;
    max-width: 100%;
    flex-direction: column;
    justify-content: start;


  }
 

  .title-03 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
  }
  .description-03 {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 23px;
  }
  .img-5 {
    aspect-ratio: 1.68;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 8px;
    margin-top: 32px;
  }

 
  @media (max-width: 991px) {
    .img-5 {
      max-width: 100%;
    }
  }


  .line-3 {
    min-height: 0px;
    margin-top: 90px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-3 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .why-choose-block {
    display: flex;
    margin-top: 90px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .why-choose-block {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .title-05 {
    align-self: center;
    width: 605px;
    max-width: 100%;
    font-size: 30px;
    color: rgba(241, 242, 246, 1);
    font-weight: 700;
    text-align: center;
    line-height: 1;
  }
  @media (max-width: 991px) {
    .title-05 {
      max-width: 100%;
    }
  }
  .price-cards {
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-items: end;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .price-cards {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .choose-card-01 {
    border-radius: 8px;
    display: flex;
    min-width: 240px;
    min-height: 180px;
    align-items: start;
    gap: 10px;
    justify-content: center;
    flex-grow: 1;
    width: 216px;
    padding: 24px 0 38px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  .div-7 {
    display: flex;
    height: 118px;
    width: 226px;
    flex-direction: column;
    justify-content: start;
  }
  .title-14 {
    align-self: stretch;
    flex: 1;
    width: 100%;
    gap: 10px;
    font-size: 16px;
    color: rgba(221, 255, 0, 1);
    font-weight: 700;
    line-height: 1;
  }
  .информация-подается-подробно-и-доступно-это-позволяет-начать-обучение-с-нуля-и-освоить-тонкости-профессии {
    align-self: stretch;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
    font-size: 12px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    line-height: 22px;
  }
  .choose-card-2 {
    border-radius: 8px;
    display: flex;
    min-width: 240px;
    min-height: 180px;
    align-items: start;
    gap: 10px;
    justify-content: center;
    flex-grow: 1;
    width: 216px;
    padding: 24px 0 38px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  .div-8 {
    display: flex;
    height: 118px;
    width: 226px;
    flex-direction: column;
    justify-content: start;
  }
  .в-профессии-аниматора-самое-важное-это-практика-на-нашем-курсе-вас-ждут-десятки-часов-практики {
    align-self: stretch;
    flex: 1;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    font-size: 12px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    line-height: 22px;
  }
  .choose-card-3 {
    border-radius: 8px;
    display: flex;
    min-width: 240px;
    min-height: 180px;
    align-items: start;
    gap: 10px;
    justify-content: center;
    flex-grow: 1;
    width: 216px;
    padding: 24px 0 38px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  .div-9 {
    display: flex;
    height: 118px;
    width: 226px;
    flex-direction: column;
    justify-content: start;
  }
  .title-14-2 {
    align-self: stretch;
    flex: 1;
    width: 100%;
    gap: 10px;
    font-size: 16px;
    color: rgba(221, 255, 0, 1);
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;
  }
  @media (max-width: 991px) {
    .title-14-2 {
      white-space: initial;
    }
  }
  .вам-будет-доступен-чат-с-автором-курса-вы-можете-обратиться-за-помощью-в-любой-момент {
    align-self: stretch;
    flex: 1;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    font-size: 12px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    line-height: 22px;
  }
  .line-4 {
    min-height: 0px;
    margin-top: 90px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-4 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .materials-block {
    display: flex;
    margin-top: 90px;
    width: 100%;
    align-items: end;
    gap: 40px 90px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .materials-block {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .img-6 {
    aspect-ratio: 1;
    margin: 1px;
    object-fit: revert;
    object-position: center;
    width: 350px;
    min-width: 350px;
    flex-grow: 1;
  }
  .div-10 {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 330px;
  }
  .description-02-2 {
    font-size: 12px;
    line-height: 22px;
    margin-top: 24px;
  }
  .line-5 {
    min-height: 0px;
    margin-top: 90px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-5 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .program-block {
    display: flex;
    margin-top: 90px;
    width: 100%;
    flex-direction: column;
    color: rgba(241, 242, 246, 1);
    text-align: center;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .program-block {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-11 {
    align-self: center;
    display: flex;
    min-height: 122px;
    width: 656px;
    max-width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  .title-03-2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
  }
  @media (max-width: 991px) {
    .title-03-2 {
      max-width: 100%;
    }
  }
  .description-03-2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 23px;
  }
  @media (max-width: 991px) {
    .description-03-2 {
      max-width: 100%;
    }
  }
  .program {
    display: flex;
    margin-top: 32px;
    width: 100%;
    align-items: start;
    gap: 22px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .program {
      max-width: 100%;
    }
  }

  .program-card-01, .program-card-02, .program-card-03, 
  .program-card-04, .program-card-05, .program-card-06, .program-card-07 {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  .m-lesson-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: white;
    background-color: #000000;
  }
  
  .m-lesson-announce {
    font-size: 10px;
    font-weight: 400;
    margin:  5px;
    padding: 5px;
    
  }


  .program-card-01:hover, .program-card-02:hover, .program-card-03:hover,
  .program-card-04:hover, .program-card-05:hover, .program-card-06:hover, .program-card-07:hover {
    transform: rotateY(180deg);
  }


  .program-card-01 {
    border-radius: 8px;
    min-width: 240px;
    min-height: 149px;
    gap: 10px;
    flex-grow: 1;
    width: 212px;
    padding: 15px 75px 123px;
    border: 1px solid rgba(241, 242, 246, 0.5);
    background-position: center;
    background-size: cover;
    background-image: url('../img/1_.png') ;
  }
  @media (max-width: 991px) {
    .program-card-01 {
      padding: 0 20px 100px;
    }
  }
  .program-card-02 {
    border-radius: 8px;
    min-width: 240px;
    min-height: 149px;
    gap: 10px;
    flex-grow: 1;
    width: 212px;
    padding: 15px 75px 123px;
    border: 1px solid rgba(241, 242, 246, 0.5);
    background-position: center;
    background-size: cover;
    background-image: url('../img/2_.png') ;
  }
  @media (max-width: 991px) {
    .program-card-02 {
      padding: 0 20px 100px;
    }
  }
  .program-card-03 {
    border-radius: 8px;
    min-width: 240px;
    min-height: 149px;
    gap: 10px;
    flex-grow: 1;
    width: 212px;
    padding: 15px 69px 123px 70px;
    border: 1px solid rgba(241, 242, 246, 0.5);
    background-position: center;
    background-size: cover;
    background-image: url('../img/3_.png') ;
  }
  @media (max-width: 991px) {
    .program-card-03 {
      padding: 0 20px 100px;
    }
  }
  .program-card-04 {
    border-radius: 8px;
    min-width: 240px;
    min-height: 149px;
    gap: 10px;
    flex-grow: 1;
    width: 212px;
    padding: 15px 76px 123px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(241, 242, 246, 0.5);
    background-image: url('../img/7_.png') ;
  }
  @media (max-width: 991px) {
    .program-card-04 {
      padding: 0 20px 100px;
    }
  }
  .program-card-05 {
    border-radius: 8px;
    min-width: 240px;
    min-height: 149px;
    gap: 10px;
    flex-grow: 1;
    width: 212px;
    padding: 15px 76px 123px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(241, 242, 246, 0.5);
    background-image: url('../img/4_.png') ;
  }
  @media (max-width: 991px) {
    .program-card-05 {
      padding: 0 20px 100px;
    }
  }
  .program-card-06 {
    border-radius: 8px;
    min-width: 240px;
    min-height: 149px;
    gap: 10px;
    flex-grow: 1;
    width: 212px;
    padding: 15px 45px 123px 46px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(241, 242, 246, 0.5);
    background-image: url('../img/4_.png') ;
  }
  @media (max-width: 991px) {
    .program-card-06 {
      padding: 0 20px 100px;
    }
  }
  .program-card-07 {
    border-radius: 8px;
    min-width: 240px;
    min-height: 295px;
    gap: 10px;
    flex-grow: 1;
    width: 212px;
    padding: 15px 71px 123px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(241, 242, 246, 0.5);
    background-image: url('../img/6_.png') ;
  }
  @media (max-width: 991px) {
    .program-card-07 {
      padding: 0 20px 100px;
    }
  }
  .line-6 {
    min-height: 0px;
    margin-top: 90px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-6 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .price-block {
    display: flex;
    margin-top: 90px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .price-block {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-12 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: rgba(241, 242, 246, 1);
    text-align: center;
    justify-content: start;
  }
  .title-05-2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
  }
  @media (max-width: 991px) {
    .title-05-2 {
      max-width: 100%;
    }
  }
  .description-05 {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 23px;
  }
  @media (max-width: 991px) {
    .description-05 {
      max-width: 100%;
    }
  }
  .price-cards-2 {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 30px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .price-cards-2 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .price-card-01 {
    border-radius: 8px;
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 340px;
    align-items: start;
    gap: 10px;
    justify-content: center;
    width: 260px;
    margin: auto 0;
    padding: 30px 18px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  .div-13 {
    display: flex;
    width: 223px;
    flex-direction: column;
    justify-content: start;
  }
  .div-14 {
    display: flex;
    width: 100%;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
    line-height: 1;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .div-14 {
      white-space: initial;
    }
  }
  .title-14-3 {
    color: rgba(241, 242, 246, 1);
    font-size: 16px;
    font-weight: 700;
  }
  .title-16 {
    color: rgba(221, 255, 0, 1);
    font-size: 25px;
    font-weight: 400;
    margin-top: 12px;
  }
  .div-15 {
    display: flex;
    margin-top: 36px;
    width: 100%;
    flex-direction: column;
    font-size: 10px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    line-height: 13px;
    justify-content: start;
  }
  .div-16 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: start;
    gap: 5px;
    justify-content: start;
  }
  .img-7 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .class1 {
    position: absolute;
    z-index: 0;
    width: 209px;
    right: 0px;
    bottom: -15px;
    height: 26px;
  }
  .div-17 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    line-height: 1;
    justify-content: start;
  }
  .img-8 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .class2 {
    position: absolute;
    z-index: 0;
    left: 14px;
    bottom: -1px;
    width: 176px;
    height: 13px;
  }
  .div-18 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    line-height: 1;
    justify-content: start;
  }
  .img-9 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .class3{
    position: absolute;
    z-index: 0;
    left: 14px;
    bottom: -1px;
    width: 176px;
    height: 13px;
  }
  .div-19 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    justify-content: start;
  }
  .img-10 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .возможность-отмены-подписки-в-любой-момент {
    position: absolute;
    z-index: 0;
    width: 176px;
    left: 14px;
    bottom: -14px;
    height: 26px;
  }
  .получить-доступ {
    align-self: center;
    border-radius: 30px;
    margin-top: 36px;
    min-height: 42px;
    width: 170px;
    max-width: 100%;
    gap: 10px;
    font-size: 14px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    text-align: center;
    line-height: 1;
    padding: 12px 25px;
    border: 1px solid rgba(241, 242, 246, 1);
  }
  @media (max-width: 991px) {
    .получить-доступ {
      padding: 0 20px;
    }
  }
  .price-card-02 {
    border-radius: 8px;
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 340px;
    align-items: start;
    gap: 10px;
    justify-content: center;
    width: 260px;
    margin: auto 0;
    padding: 30px 18px;
    border: 1px solid rgba(241, 242, 246, 1);
  }


  .price-card-02:hover {
 
    border: 1px solid rgba(221, 255, 0, 1);
  }

  .div-20 {
    display: flex;
    width: 223px;
    flex-direction: column;
    justify-content: start;
  }
  .div-21 {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    justify-content: start;
  }
  .title-14-4 {
    color: rgba(241, 242, 246, 1);
    font-size: 16px;
    font-weight: 700;
  }
  .div-22 {
    display: flex;
    margin-top: 36px;
    width: 100%;
    flex-direction: column;
    font-size: 10px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    line-height: 13px;
    justify-content: start;
  }
  .div-23 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: start;
    gap: 5px;
    justify-content: start;
  }
  .img-11 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .div-24 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    line-height: 1;
    justify-content: start;
  }
  .img-12 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .div-25 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    line-height: 1;
    justify-content: start;
  }
  .img-13 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .div-26 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    justify-content: start;
  }
  .img-14 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .получить-доступ-2 {
    align-self: center;
    border-radius: 30px;
    background-color: rgba(221, 255, 0, 1);
    margin-top: 36px;
    min-height: 42px;
    width: 170px;
    max-width: 100%;
    gap: 10px;
    font-size: 14px;
    color: rgba(13, 17, 23, 1);
    font-weight: 400;
    text-align: center;
    line-height: 1;
    padding: 12px 25px;
  }
  @media (max-width: 991px) {
    .получить-доступ-2 {
      padding: 0 20px;
    }
  }
  .price-card-03 {
    border-radius: 8px;
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 340px;
    align-items: start;
    gap: 10px;
    line-height: 1;
    justify-content: center;
    width: 260px;
    margin: auto 0;
    padding: 30px 18px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  .div-27 {
    display: flex;
    width: 223px;
    flex-direction: column;
    justify-content: start;
  }
  .div-28 {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    justify-content: start;
  }
  .title-14-5 {
    color: rgba(241, 242, 246, 1);
    font-size: 16px;
    font-weight: 700;
  }
  .div-29 {
    display: flex;
    margin-top: 36px;
    width: 100%;
    flex-direction: column;
    font-size: 10px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    justify-content: start;
  }
  .div-30 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: start;
    gap: 5px;
    justify-content: start;
  }
  .img-15 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .прохождение-всей-программы-курса {
    position: absolute;
    z-index: 0;
    right: 0px;
    bottom: -2px;
    width: 209px;
    height: 13px;
  }
  .div-31 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    justify-content: start;
  }
  .img-16 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .получение-обновлений-в-течение-года {
    position: absolute;
    z-index: 0;
    right: 1px;
    bottom: -1px;
    width: 209px;
    height: 13px;
  }
  .div-32 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    justify-content: start;
  }
  .img-17 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .div-33 {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: start;
    gap: 5px;
    line-height: 13px;
    justify-content: start;
  }
  .img-18 {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 8px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 2px;
    height: 6px;
  }
  .class4 {
    position: absolute;
    z-index: 0;
    width: 176px;
    left: 14px;
    bottom: -14px;
    height: 26px;
  }
  .class5 {
    align-self: center;
    border-radius: 30px;
    margin-top: 36px;
    min-height: 42px;
    width: 170px;
    max-width: 100%;
    gap: 10px;
    font-size: 14px;
    color: rgba(241, 242, 246, 1);
    font-weight: 400;
    text-align: center;
    padding: 12px 25px;
    border: 1px solid rgba(241, 242, 246, 1);
  }


  .class5:hover {
    color: #000000;
    background: #DDFF00;

  }

  @media (max-width: 991px) {
    .class5 {
      padding: 0 20px;
    }
  }
  .line-7 {
    min-height: 0px;
    margin-top: 90px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-7 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-34 {
    display: flex;
    min-width: 240px;
    min-height: 350px;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    width: 420px;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
    }
  }
  .img-19 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 280px;
    border-radius: 8px;
    min-width: 240px;
    flex-grow: 1;
  }
  .line-8 {
    min-height: 0px;
    margin-top: 90px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-8 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .result-block {
    display: flex;
    margin-top: 90px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;



  

  }

  .result-block::before {
    content: '';
    width: 600px;
    height: 400px;
    background-color: rgb(255 0 92 / 65%);
    border-radius: 100%;
    filter: blur(100px);
    position: absolute;
    left: 20%;
    bottom: 10;
    z-index: -1;
  }

  .result-block::after {
    content: '';
    width: 600px;
    height: 400px;
    background-color: rgb(0 178 255 / 60%);
    border-radius: 100%;
    filter: blur(100px);
    position: absolute;
    right: 25%;
    bottom: 10;
    z-index: -1;
  }

  @media (max-width: 991px) {
    .result-block {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .title-05-3 {
    width: 605px;
    max-width: 100%;
    font-size: 30px;
    color: rgba(241, 242, 246, 1);
    font-weight: 700;
    text-align: center;
    line-height: 1;
  }
  @media (max-width: 991px) {
    .title-05-3 {
      max-width: 100%;
    }
  }
  .result-cards {
    display: flex;
    margin-top: 35px;
    align-items: center;
    gap: 30px;
    font-size: 10px;
    color: rgba(241, 242, 246, 0.5);
    font-weight: 400;
    line-height: 18px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .result-cards {
      max-width: 100%;
    }
  }
  .div-35 {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 350px;
    flex-direction: column;
    color: rgba(241, 242, 246, 1);
    justify-content: start;
    width: 260px;
    margin: auto 0;
  }
  .img-20 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 8px;
    min-height: 260px;
    gap: 10px;
  }
  .description-3 {
    color: white;
    margin-top: 15px;
    flex: 1;
  }
  .div-36 {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 350px;
    flex-direction: column;
    justify-content: start;
    width: 260px;
    margin: auto 0;
  }
  .img-21 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 8px;
    min-height: 260px;
    gap: 10px;
  }
  .div-37 {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 350px;
    flex-direction: column;
    justify-content: start;
    width: 260px;
    margin: auto 0;
  }
  .img-22 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 8px;
    min-height: 260px;
    gap: 10px;
  }
  .description-3-2 {
color: white;
    margin-top: 15px;
  }
  .line-9 {
    min-height: 0px;
    margin-top: 90px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-9 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .faq-block {
    display: flex;
    margin-top: 90px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: rgba(241, 242, 246, 1);
    line-height: 1;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .faq-block {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .title-05-4 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  @media (max-width: 991px) {
    .title-05-4 {
      max-width: 100%;
    }
  }
  .faq {
    display: flex;
    margin-top: 90px;
    width: 680px;
    max-width: 100%;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .faq {
      margin-top: 40px;
    }
  }
  .question-01 {
    display: flex;
    width: 100%;
    align-items: start;
    gap: 9px -66px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .question-01 {
      max-width: 100%;
    }
  }
  .img-23 {
    aspect-ratio: 5;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-left: auto;
    max-width: 63px;
  }
  .title-6 {
    flex-grow: 1;
    width: 676px;
  }
  @media (max-width: 991px) {
    .title-6 {
      max-width: 100%;
    }
  }
  .line-10 {
    min-width: 240px;
    height: 0px;
    flex-grow: 1;
    width: 676px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-10 {
      max-width: 100%;
    }
  }
  .question-02 {
    display: flex;
    margin-top: 35px;
    width: 100%;
    align-items: start;
    gap: 9px -66px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .question-02 {
      max-width: 100%;
    }
  }
  .img-24 {
    aspect-ratio: 2.2;
    object-fit: contain;
    object-position: center;
    width: 22px;
  }
  .line-11 {
    min-width: 240px;
    height: 0px;
    flex-grow: 1;
    width: 676px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-11 {
      max-width: 100%;
    }
  }
  .question-03 {
    display: flex;
    margin-top: 35px;
    width: 100%;
    align-items: start;
    gap: 9px -66px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .question-03 {
      max-width: 100%;
    }
  }
  .img-25 {
    aspect-ratio: 2.2;
    object-fit: contain;
    object-position: center;
    width: 22px;
  }
  .line-12 {
    min-width: 240px;
    height: 0px;
    flex-grow: 1;
    width: 676px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-12 {
      max-width: 100%;
    }
  }
  .question-04 {
    display: flex;
    margin-top: 35px;
    width: 100%;
    align-items: start;
    gap: 9px -66px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .question-04 {
      max-width: 100%;
    }
  }
  .img-26 {
    aspect-ratio: 2.2;
    object-fit: contain;
    object-position: center;
    width: 22px;
  }
  .line-13 {
    min-width: 240px;
    height: 0px;
    flex-grow: 1;
    width: 676px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-13 {
      max-width: 100%;
    }
  }
  .question-05 {
    display: flex;
    margin-top: 35px;
    width: 100%;
    align-items: start;
    gap: 9px -66px;
    line-height: 21px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .question-05 {
      max-width: 100%;
    }
  }
  .img-27 {
    aspect-ratio: 2.2;
    object-fit: contain;
    object-position: center;
    width: 22px;
  }
  .line-14 {
    min-width: 240px;
    height: 0px;
    flex-grow: 1;
    width: 676px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-14 {
      max-width: 100%;
    }
  }
  .question-06 {
    display: flex;
    margin-top: 35px;
    width: 100%;
    align-items: start;
    gap: 9px -66px;
    line-height: 21px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .question-06 {
      max-width: 100%;
    }
  }
  .img-28 {
    aspect-ratio: 2.2;
    object-fit: contain;
    object-position: center;
    width: 22px;
  }
  .line-15 {
    min-width: 240px;
    height: 0px;
    flex-grow: 1;
    width: 676px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-15 {
      max-width: 100%;
    }
  }
  .question-07 {
    display: flex;
    margin-top: 35px;
    width: 100%;
    align-items: start;
    gap: 9px -66px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .question-07 {
      max-width: 100%;
    }
  }
  .img-29 {
    aspect-ratio: 2.2;
    object-fit: contain;
    object-position: center;
    width: 22px;
  }
  .line-16 {
    min-width: 240px;
    height: 0px;
    flex-grow: 1;
    width: 676px;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-16 {
      max-width: 100%;
    }
  }
  .footer {
    display: flex;
    margin-top: 90px;
    width: 100%;
    max-width: 1040px;
    flex-direction: column;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .footer {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .information-block {
    align-self: center;
    display: flex;
    width: 840px;
    max-width: 100%;
    align-items: start;
    gap: 40px 330px;
    color: rgba(241, 242, 246, 1);
    justify-content: start;
    flex-wrap: wrap;
    font: 18px/1 Gotham Pro, sans-serif;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    width: 166px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .title-6-2 {
    font-weight: 400;
  }
  .div-38 {
    display: flex;
    margin-top: 35px;
    max-width: 100%;
    color: white;
    width: 208px;
    flex-direction: column;
    font-weight: 700;
    white-space: nowrap;
    justify-content: start;
  }
  @media (max-width: 991px) {
    .div-38 {
      white-space: initial;
    }
  }
  .title-7 {
    color: white;
    margin-top: 10px;
  }
  .law {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 259px;
  }
  .title-05-5 {
    font-weight: 400;
  }
  .div-39 {
    display: flex;
    margin-top: 35px;
    max-width: 100%;
    width: 301px;
    flex-direction: column;
    font-weight: 700;
    justify-content: start;
  }
  .title-6-3 {
    margin-top: 10px;
  }
  .line-17 {
    min-height: 0px;
    margin-top: 35px;
    width: 100%;
    border: 1px solid rgba(241, 242, 246, 0.5);
  }
  @media (max-width: 991px) {
    .line-17 {
      max-width: 100%;
    }
  }
  .information-block-2 {
    display: flex;
    margin-top: 35px;
    width: 100%;
    align-items: start;
    gap: 40px 413px;
    justify-content: start;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .information-block-2 {
      max-width: 100%;
    }
  }
  .contact-2 {
    color: rgba(241, 242, 246, 1);
    flex-grow: 1;
    width: 154px;
    font: 400 18px/1 Gotham Pro, sans-serif;
  }
  .contact-3 {
    display: flex;
    min-width: 240px;
    align-items: start;
    gap: 35px;
    justify-content: start;
    flex-grow: 1;
    width: 398px;
  }
  @media (max-width: 991px) {
    .contact-3 {
      max-width: 100%;
    }
  }
  .title-6-4 {
    color: rgba(241, 242, 246, 1);
    width: 360px;
    font: 400 18px/1 Gotham Pro, sans-serif;
  }
  .div-40 {
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: start;
  }
  .div-41 {
    width: 0px;
    height: 20px;
    border: 1px solid rgba(241, 242, 246, 1);
  }
  .img-30 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 21px;
  }